body {
    background: white;
}

.homePage .title h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.8vw;
    opacity: 0;
    color: white;
    text-align: center;
    top:40%;
    position: absolute;
}


.homePage .title .t1 {
    left:20%;
}
.homePage .title .t2 {
    left:40%;
}
.homePage .title .t3 {
    left:55%;
}
.homePage .title .t4 {
    left:70%;
}

